@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

:root {
  --primary: #941C2F; /* dark red */
  --primary-hover: #7A1425;
  --secondary: #31A551; /* green */
  --secondary-hover: #268541;
  --text-dark: #333333;
  --text-light: #666666;
  --bg-color: #F8F9FA;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--bg-color);
  color: var(--text-dark);
}

.container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
}
